body {
  margin: 60px auto;
  width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

p {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .5em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.8em;
}

ul.posts li {
    list-style: none;
}

papertitle {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 14px;
  font-weight: 700;
}

b {
    text-decoration: none;
    color: #1772d0;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 12px;
}
b:hover {
    text-decoration: underline;
    color: #f09228;
}
